:root {
  --color-white: hsl(0, 0%, 100%);
  --color-light-gray: hsl(212, 45%, 89%);
  --color-grayish-blue: hsl(220, 15%, 55%);
  --color-dark-blue: hsl(218, 44%, 22%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Outfit", sans-serif;
  background: var(--color-light-gray);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  display: block;
  padding: 10px;
  text-align: center;
  background: var(--color-white);
  border-radius: 20px;
  width: 300px;
}

img {
  border-radius: 1.3em;
  padding: 10px;
}

h1 {
  color: var(--color-dark-blue);
  font-size: 1.4em;
}

p {
  color: var(--color-grayish-blue);
  padding-top: 15px;
  padding-bottom: 25px;
}
